body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern.jpg);
}

img {
    float: left;
}

nav {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 30px;
    padding: 0;
}

nav li {
    position: sticky;
    display: inline-block;
    padding: 0 20px 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(48, 30, 114);
    text-align: center;
    cursor: pointer;
}

nav a {
    display: inline-block;
    overflow: hidden;
}
nav a:hover {
    color: rgb(2, 74, 92);
    opacity: 0.5;

}

h1 {
    text-align: center;
    padding-top: 20px;
}

header {
    background-color: rgb(239, 247, 252);
    width: 100%;
    position: fixed;
    top: 0;
    padding-bottom: 8px;
    justify-content: space-between;
    z-index: 1;
}

section {
    border-bottom: 10px;
    background-color: white;
    padding-bottom: 15px;
    margin: 90px;
    margin-bottom: 40px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

article {
    text-decoration: none;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid lightgrey;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    padding: 5px 10px 0 5px;
}